html {
    height: 100%;
    width: 100%;
  }
  body {
    width: 750px;
    display:inline-flex;
    background-color: rgba(215, 215, 247, 0.582);
  }


  .column {
    display:block;
    width: 33%;
    align-items: center;
    justify-content: center;
    background-color: rgba(175, 175, 243, 0.555);
    border: solid 1px;
    
  }

  .column-header {
    font-size: 15px;
    text-align: center;
  }
  
  .card-container {
      width: 90%;
      padding: 20px 5px;
      background-color: #f2eeee;
      border-radius: 5px;
      margin: 0 auto;
      background-color: #b6b6d3;
      align-items: center;
      justify-content: center;
  }
  
  .draggable {
    display:flex;
      height: 40px;
      margin: 10px 0;
      border-radius: 5px;
      background-color: #e7e4e4;
      user-select: none;

  }
  
  .draggable:hover {
      background-color: #e3dcdc;
  }
  
  .draggable:active {
      background-color: #f5d8d8;
      transform: rotate(5deg);
      transition: 100ms;
      cursor: grabbing;
  }

  .closeButton {
    display: none;
    max-height: 20px;
    max-width: 20px;
    margin-left: auto;
    align-items: center;
    justify-content: center;
  }

  .draggable:hover .closeButton, .draggable:active .closeButton {
    display: inline-flex;

  }

  .add-button {
    margin-left:auto
  }

  .add-window {
    display: flex;
  }

